
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Introduction</h2>

        <h3 style="width:80%">
            This modul is used to display stock movement card per product per Warehouse and product
            in, out, balance summary per Warehouse.
        </h3>

        <div class="oe_span10 text-justify">

            <div class="oe_screenshot" style="margin:8px">
                <img class="img img-responsive" src="images/stock-card.png"/>
            </div>

            <p class="oe_mb32" style="margin:8px;">
                Create new stock card, select product, select date range, select warehouse and then calculate.
            </p>


            <div class="oe_screenshot" style="margin:8px">
                <img class="img img-responsive" src="images/stock-card-lot.png"/>
            </div>

            <p class="oe_mb32" style="margin:8px;">
                Stock card can be breakdown by serial or lot number to monitor the expired date.
            </p>


            <div class="oe_screenshot" style="margin:8px">
                <img class="img img-responsive" src="images/stock-card-print.png"/>
            </div>
            <p class="oe_mb32" style="margin:8px;">
                Stock card can be printed to PDF as any normal Odoo report.
            </p>



            <div class="oe_screenshot" style="margin:8px">
                <img class="img img-responsive" src="images/stock-summary.png"/>
            </div>

            <p class="oe_mb32" style="margin:8px;">
                Create Stock summary, select product, select Warehouse, select data range to display current stock move in, out, and balance of existing product.
            </p>

            <div class="oe_screenshot" style="margin:8px">
                <img class="img img-responsive" src="images/stock-summary-lot.png"/>
            </div>
            <p class="oe_mb32" style="margin:8px;">
                Stock Summary can be breakdown by serial or lot number to monitor the expired date.
            </p>


        </div>

    </div>

    <div class="oe_row oe_spaced">

        <h2 class="oe_slogan" style="color:#875A7B;">Mau Gratis?</h2>

        <div class="oe_span10 text-justify">
            <p class="oe_mb32" style="margin:8px;">
                Addons ini bisa anda peroleh secara gratis jika mengikuti Training Odoo
                di vitraining.com atau membeli E-BOOK
                "PANDUAN LENGKAP IMPLEMENTASI ODOO V10 UNTUK PERUSAHAAN RETAIL DI INDONESIA"
                di <a href="http://shop.vitraining.com">shop.vitraining.com</a>
                maupun di Google Play.
            </p>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">

        <h2  class="oe_slogan" style="width:70%;color:#875A7B;">Contact and Support</h2>
        <h3 class="oe_span10 oe_slogan">
            Contact Us: info[at]vitraining.com<br/>
            Facebook : <a href="https://www.facebook.com/trainingOdoo/">www.facebook.com/trainingOdoo</a><br/>
            YouTube: <a href="https://www.youtube.com/channel/UCfLiSpb5nKcurnRIZse8zgA">www.youtube.com/channel/UCfLiSpb5nKcurnRIZse8zgA</a><br/>
            Web: <a href="http://shop.vitraining.com">shop.vitraining.com</a>
        </h3>

    </div>
</section>

<section class="oe_container oe_separator">
</section>