.pos .paymentline .col-change {
    min-width: 90px;
    font-size: 25px;
}
.pos .paymentline .col-name {
    font-size: 25px;
}

.pos .paymentline.selected .edit {
    box-shadow: 0px 0px 0px 2px #3e3e3e;
    color: #333;
    font-size: 25px;
}

.pos .paymentline .col-due, .pos .paymentline .col-tendered, .pos .paymentline .col-change {
    min-width: 90px;
    font-size: 25px;
}