


.pos .product .price-naik {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #ec0707;
    padding: 2px 5px;
    border-radius: 2px;
}

.pos .product .price-turun {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #3f07ec;
    padding: 2px 5px;
    border-radius: 2px;
}

.pos .product .price-standar {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background:#25e20e;
    padding: 2px 5px;
    border-radius: 2px;
}

.pos .product .price-normal {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background:#907f7f;
    padding: 2px 5px;
    border-radius: 2px;
}

/*.pos .product .price-contoh {
    position: absolute;
    top: 2px;
    left: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background:#907f7f;
    padding: 2px 5px;
    border-radius: 2px;
}
*/

