<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b> Dynamic Product Labels Print Odoo Apps </b>
			</h2>
			<p class="oe_slogan">
				Dynamic Product Label Print Odoo apps provide features which will make barcode and label printing easier. With this odoo module you can Print product barcode with different size(In px) along with logo and currency. Barcode and label printing for product item can very useful and effecitve with this app Dynamic Product Label Print module also used to generate dynamic product label for different product template and product variants in Odoo.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/Package_Accept-512.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Generate Dynamic Product Label. </b></h4>
					  <span class="oe_slogan"> You can generate dynamic product label for different product.  </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/barcode.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Different Size(In px) of label and barcode. </b></h4>
						<span class="oe_slogan"> You can define size(In px) of label and barcode as per your need.  </span>
					</div>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img img-responsive" style="max-width:100%;" src="features/input-field-search-field-512.png"/>
                    </div>
                    <div class="col-md-9">
                      <h4><b> Set Product fields and Sequences. </b></h4>
                      <span class="oe_slogan"> You can select and set fields sequence that you wants to print on product label.  </span>
                    </div>
                </div>
            </div>
            <div class="col" style="margin: 10px;">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img class="img img-responsive" style="max-width:100%;" src="features/translation-translate-language-international-translating_2_copy_7-512.png"/>
                    </div>
                    <div class="col-md-9">
                        <h4><b> Support Spanish Translation. </b></h4>
                        <span class="oe_slogan"> If there is need of spanish translation then this module also support spanish language translation.  </span>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Request Demo" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://browseinfo.in/demo-request/" target="_blank"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/KqFCYpA0D7Y" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Dynamic Product Label Configuration </p>
			<p class="oe_slogan"> You have to do some configuration after installing this module. First of all you have to give access rights to user in order to use functionality of dynamic product label print. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_access_right.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Dynamic Product Label Template </p>
            <p class="oe_slogan"> You can create dynamic product label template and set default value for dynamic product label generate wizard, here you can set default lines for label print. </p>
            <br/>
                <dl style="padding-left: 30px;text-align:left">
                <dt style="color: #31708f;">Logo:</dt>
                <dd style="color: #31708f;">- You can set image/logo to display on barcode label</dd>
                <dt style="color: #31708f;">Label:</dt>
                <dd style="color: #31708f;">- From here you can set quantity of barcode label.Ex. If 2 product is selected for barcode label and quantity is 4 then it generate total 8 barcode label.</dd>
                <dt style="color: #31708f;">Currency: </dt>
                <dd style="color: #31708f;">- You can set currency as per requirement and also adjust currency symbol position as "After" or "Before" based on requirement.</dd>
                <dt style="color: #31708f;">Barcode:</dt>
                <dd style="color: #31708f;">- You can also set barcode height and width of product as per your requirement.</dd>
                <dt style="color: #31708f;">Template Type:</dt>
                <dd style="color: #31708f;">- You can select template type as a "Product Template" or "Product Variant".</dd>
                <dt style="color: #31708f;">Product Field :</dt>
                <dd style="color: #31708f;">- You can select product fields with their color and size(In px).</dd>
                <br/>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_dynamic_Template.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan"> Figure shows the path for print dynamic product label. </p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_print_product_lable.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Dynamic Product Label Form View </p>
            <p class="oe_slogan"> After click on Dynamic Product Label button, One form will open with default selected values from configuration. </p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_product_lable_form_view.png">
        </div>
    </div>
</section>

<section class="oe_container lead">
    <div>
        <div>
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Dynamic Product Label </p>
            <p class="oe_slogan"> Figure shows the generated multiple dynamic product label. </p>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_printed_lable.png">
            <br/>
            <img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_dynamic_lable.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_custom_product_field/">
					<img class="img img-responsive" src="related/bi_custom_product_field.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_top_growing_product/">
					<img class="img img-responsive" src="related/bi_top_growing_product.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_product_dimension/">
					<img class="img img-responsive" src="related/bi_product_dimension.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_product_price_history/">
					<img class="img img-responsive" src="related/bi_product_price_history.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_sale_quick_add_product/">
					<img class="img img-responsive" src="related/bi_sale_quick_add_product.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/product_cost_bom/">
					<img class="img img-responsive" src="related/product_cost_bom.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_reports/">
					<img class="img img-responsive" src="demanded/generic_excel_reports.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:sales@browseinfo.in">sales@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Website" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/" target="_blank"> Website </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/request-support/" target="_blank"> Support Request </a>
			<a class="btn mt8" title="Request New Features now !" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="https://browseinfo.in/our-services/" target="_blank">Services</a>
		</div>
	</div>
</section>
